<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap"
    rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
  <link rel="stylesheet" href="index.css">

  <title> Huddle landing page</title>

</head>

<body>
  <nav class="navBar">
    <img src="../images/logo.svg" alt="" class="logo">
    <button class="btn">Try it free</button>
  </nav>
  <header class="header">
    <h1 class="title">Build The Community Your Fans Will Love</h1>
    <div class="subtitle">
      <p>Huddle re-imagines the way we build communities. You have a</p>
      <p>voice, but so does your audience. Create connections with your</p>
      <p>users as you engage in genuine discussion. </p>
    </div>
    <button class="startButton">Get Started For Free</button>
  </header>
  <section class="mainPicture">
    <img src="../images/screen-mockups.svg" alt="" class="mock-up">
  </section>
  <middle class="middle">
    <div class="card">
      <img src="../images/icon-communities.svg" alt="" class="cardImg">
      <div class="textInsideCard">
        <p class="num">1.4k+ </p>
        <p>Communities Formed</p>
      </div>
    </div>

    <div class="card">
      <img src="../images/icon-messages.svg" alt="" class="cardImg">
      <div class="textInsideCard">
        <p class="num">2.7m+</p>
        <p>Messages Sent</p>
      </div>
    </div>
  </middle>

  <section class="fisrtCurve">
    <img src="../images/bg-section-top-desktop-1.svg" alt="" class="curveImg">
    <div class="mainWave">
      <div class="waveText">
        <h2 class="h2">Grow Together</h2>
        <p>Generate meaningful discussions with your audience and build a</p>
        <p>strong, loyal community. Think of the insightful conversations you</p>
        <p>miss out on with a feedback form. </p>
      </div>
      <img src="../images/illustration-grow-together.svg" alt="" class="growImg">
    </div>
    <img src="../images/bg-section-bottom-desktop-1.svg" alt="" class="curveImg2">
  </section>

  <section class="whiteWave">
    <img src="../images/illustration-flowing-conversation.svg" alt="" class="growImg">
    <div class="whiteText">
      <h2 class="whiteH2">Flowing Conversations</h2>
      <p>You wouldn't paginate a conversation in real life, so why do it online?</p>
      <p>Our threads have just-in-time loading for a more natural flow.</p>
    </div>
  </section>

  <section class="fisrtCurve">
    <img src="../images/bg-section-top-desktop-2.svg" alt="" class="curveImg">
    <div class="mainWave">
      <div class="waveText">
        <h2 class="h2">Your Users</h2>
        <p>It takes no time at all to integrate Huddle with your app's </p>
        <p>authentication solution. This means, once signed in to your app,</p>
        <p>your users can start chatting immediately.</p>
      </div>
      <img src="../images/illustration-your-users.svg" alt="" class="growImg">
    </div>
    <img src="../images/bg-section-bottom-desktop-2.svg" alt="" class="curveImg2">
  </section>

  <section class="lastWave">
    <h2 class="h3">Ready To Build Your Community?</h2>
    <button class="startButton">Get Started For Free</button>
  </section>

  <footer>
    <img src="../images/bg-footer-top-desktop.svg" alt="" class="curveFooter">
    <section class="footer">

      <aside class="aside">
        <img src="../images/logo.svg" alt="" class="logoFooter">
        <div class="lorem">
          <p>Lorem ipsum dolor sit amet, consectetur</p>
          <p>adipiscing elit. Mauris nulla quam, hendrerit</p>
          <p> lacinia vestibulum a, ultrices quis sem.</p>
        </div>
        <div class="contact">
          <img src="../images/icon-phone.svg" alt="">
          <p class="phone">Phone: +1-543-123-4567</p>
        </div>
        <div class="contact">
          <img src="../images/icon-email.svg" alt="">
          <p class="phone">example@huddle.com</p>
        </div>
      </aside>

      <aside class="aside">
        <h4>Newsletter</h4>
        <div class="lorem">
          <p>To recieve tips on how to grow your community,</p>
          <p>sign up to our weekly newsletter. We’ll never send</p>
          <p> you spam or pass on your email address.</p>
        </div>
        <input type="text" name="" id="input" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;email@example.com">
        <button class="button">Subscribe</button>
        <p class="notice">Check your email please.</p>
      </aside>
    </section>
  </footer>

</body>

</html>